body{
    background-color:thistle;
}

header{
    background-color:green;
    margin: -30px;
    font-family:monospace;
}
nav ul{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
    text-decoration:none;
    color: white;
}
nav ul li a:hover{
    cursor: pointer;
    color: rgb(58, 143, 158);
    border-bottom: 2px solid black;
    font-size: 20px;
    transition: linear 1s 0s ;
}
h1{
    text-align: center;
    font-size: 35px;
    color: white;
}
img{
    float: left;
    width: 300px;
    height: 200px;
    display: block;
    margin-right: 10px;
}
#esportes{
    text-align: justify;
    color: rgb(31, 26, 26);
    font-family: fantasy;
    font-size: 25px;
}
p{
    color:teal;
    font-size: 20px;
    font-family: fantasy;
}
h2{
    font-size: 35px;
    color: darkslategrey;
    font-family: fantasy;
}
#cultura{
    text-align: justify;
    color: rgb(31, 26, 26);
    font-family: fantasy;
    font-size: 25px;
}
#Politica{
    text-align: justify;
    color: rgb(31, 26, 26);
    font-family: fantasy;
    font-size: 25px; 
}
#Comercio{
    text-align: justify;
    color: rgb(31, 26, 26);
    font-family: fantasy;
    font-size: 25px; 
}
footer{
    text-align: center;
    background-color: coral;
    color:black;
    font-family:monospace;
    font-size: 20px;
    margin: -20px;
}

#queijo:visited{
    color: rgb(180, 52, 152)
}
#queijo:link{
    color: gray;
}

h1{
    animation-name: titulo;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes titulo{
    0%{
        color: darkorchid;
        transform: scale(0.2)rotate(0deg);
    }
    25%{
        color: darkturquoise;
        transform: scale(0.4)rotate(-90deg);
    }
    50%{
        color: greenyellow;
        transform: scale(0.6)rotate(-180deg);
    }
    75%{
        color: indigo;
        transform: scale(0.8)rotate(-270deg);
    }
    100%{
        color: white;
        transform: rotate(-360deg);
    }
} 